.buttonWrapper {
  display: inline-block;
}

.button {
  background: #181818;
  color: #ccc;
  font-size: 18px;
  border: 0;
  vertical-align: bottom;
  height: 56px;
  width: 40px;
  border-radius: 4px;
  line-height: 0.5rem;
}

.button svg {
  fill: #ddd;
}

.button:hover, .button:focus {
  color: #fff;
  outline: 0;
}

.button:hover svg, .button:focus svg {
  fill: #fff;
}

.active {
  color: #6a9cc9;
}

.active svg {
  fill: #6a9cc9;
}
