.wrapper {
  position: absolute;
}

.buttonWrapper {
  display: inline-block;
}

.button {
  box-sizing: border-box;
  border: 1px solid #111;
  background: #333;
  padding: 5px;
  margin: 0;
  margin-bottom: 0.2rem;
  border-radius: 18px;
  cursor: pointer;
  height: 36px;
  width: 36px;
  text-align: center;
}

.button svg {
  fill: #ddd;
}

.button:hover, .button:focus {
  background: #444;
  outline: 0;
}

.active {
  color: #6a9cc9;
}

.active svg {
  fill: #6a9cc9;
}
