.emojiStyles__emoji___7VHPu {
  background-position: center;
  /* make sure the background the image is only shown once */
  background-repeat: no-repeat;
  background-size: contain;
  /* move it a bit further down to align it nicer with the text */
  vertical-align: middle;

  /*
  We need to limit the emoji width because it can be multiple characters
  long if it is a 32bit unicode. Since the proper width depends on the font and
  it's relationship between 0 and other characters it's not ideal. 1.95ch is not
  the best value, but hopefully a good enough approximation for most fonts.
  */
  display: inline-block;
  overflow: hidden;
  max-width: 1.95ch;
  /*
  Needed for iOS rendering to avoid some icons using a lot of height without
  actually needing it.
  */
  max-height: 1em;
  line-height: inherit;
}

.emojiStyles__emojiCharacter___1fKPi {
  /*
  Hide the original Emoji icon no matter what system it is. color: transparent
  would have been nice to avoid the extra span, but it doesn't work on iOS.
  */
  opacity: 0;
}
.emojiSuggestionsStyles__emojiSuggestions___3W0Z7 {
  border: 1px solid #eee;
  margin-top: 1.75em;
  position: absolute;
  min-width: 220px;
  max-width: 440px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 4px 30px 0px rgba(220,220,220,1);
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  box-sizing: border-box;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.emojiSuggestionsEntryStyles__emojiSuggestionsEntry___1zp_3 {
  padding: 5px 10px 1px 10px;
  -webkit-transition: background-color 0.4s cubic-bezier(.27,1.27,.48,.56);
  transition: background-color 0.4s cubic-bezier(.27,1.27,.48,.56);
}

.emojiSuggestionsEntryStyles__emojiSuggestionsEntry___1zp_3:active {
  background-color: #cce7ff;
}

.emojiSuggestionsEntryStyles__emojiSuggestionsEntryFocused___1Nu_U {
  background-color: #e6f3ff;
}

.emojiSuggestionsEntryStyles__emojiSuggestionsEntryText___17_BS {
  display: inline-block;
  margin-left: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 368px;
  font-size: 0.9em;
}

.emojiSuggestionsEntryStyles__emojiSuggestionsEntryIcon___30xnS {
  width: 1em;
  height: 1em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  display: inline-block;
}
/* emojiStyles */

.EmojiStyles__emoji___19Hn1 {
  background-position: center;
  /* make sure the background the image is only shown once */
  background-repeat: no-repeat;
  background-size: contain;
  /* move it a bit further down to align it nicer with the text */
  vertical-align: middle;

  /*
  We need to limit the emoji width because it can be multiple characters
  long if it is a 32bit unicode. Since the proper width depends on the font and
  it's relationship between 0 and other characters it's not ideal. 1.95ch is not
  the best value, but hopefully a good enough approximation for most fonts.
  */
  display: inline-block;
  overflow: hidden;
  max-width: 1.95ch;
  /*
  Needed for iOS rendering to avoid some icons using a lot of height without
  actually needing it.
  */
  max-height: 1em;
  line-height: inherit;
}

.EmojiStyles__emojiCharacter___2R2aw {
  /*
  Hide the original Emoji icon no matter what system it is. color: transparent
  would have been nice to avoid the extra span, but it doesn't work on iOS.
  */
  opacity: 0;
}

/* emojiSuggestionsEntryStyles */

.EmojiStyles__emojiSuggestionsEntry___1FoSy {
  padding: 5px 10px 1px 10px;
  -webkit-transition: background-color 0.4s cubic-bezier(.27,1.27,.48,.56);
  transition: background-color 0.4s cubic-bezier(.27,1.27,.48,.56);
}

.EmojiStyles__emojiSuggestionsEntry___1FoSy:active {
  background-color: #cce7ff;
}

.EmojiStyles__emojiSuggestionsEntryFocused___lPoCT {
  background-color: #e6f3ff;
}

.EmojiStyles__emojiSuggestionsEntryText___27AaC {
  display: inline-block;
  margin-left: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 368px;
  font-size: 0.9em;
}

.EmojiStyles__emojiSuggestionsEntryIcon___1q_hr {
  width: 1em;
  height: 1em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  display: inline-block;
}

/* emojiSuggestionsStyles */

.EmojiStyles__emojiSuggestions___YhD2L {
  border: 1px solid #eee;
  margin-top: 1.75em;
  position: absolute;
  min-width: 220px;
  max-width: 440px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 4px 30px 0px rgba(220,220,220,1);
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  box-sizing: border-box;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.styles__hashtag___2EHHR {
  color: #5e93c5;
}
.HashtagStyles__hashtag___2oDV4 {
  color: #5e93c5;
}
.imageStyles__image___2FY73 {}
.styles__addImage___BNE8- {
  background: #FFF;
  display: inline-block;
}
.alignmentToolStyles__alignmentTool___2-Q7x {
  left: 50%;
  -webkit-transform: translate(-50%) scale(0);
          transform: translate(-50%) scale(0);
  position: absolute;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(220,220,220,1);
  z-index: 2;
  box-sizing: border-box;
}

.alignmentToolStyles__alignmentTool___2-Q7x:after, .alignmentToolStyles__alignmentTool___2-Q7x:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.alignmentToolStyles__alignmentTool___2-Q7x:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 4px;
  margin-left: -4px;
}
.alignmentToolStyles__alignmentTool___2-Q7x:before {
  border-color: rgba(221, 221, 221, 0);
  border-top-color: #ddd;
  border-width: 6px;
  margin-left: -6px;
}
.buttonStyles__buttonWrapper___15neR {
  display: inline-block;
}

.buttonStyles__button___21elG {
  background: #fbfbfb;
  color: #888;
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
}

.buttonStyles__button___21elG svg {
  fill: #888;
}

.buttonStyles__button___21elG:hover, .buttonStyles__button___21elG:focus {
  background: #f3f3f3;
  outline: 0; /* reset for :focus */
}

.buttonStyles__active___3app7 {
  background: #efefef;
  color: #444;
}

.buttonStyles__active___3app7 svg {
  fill: #444;
}
.style__unfocused___3PmHc:hover {
  cursor: default;
  border-radius: 2px;
  box-shadow: 0 0 0 3px #D2E3F7;
}

.style__focused___2a_V4 {
  cursor: default;
  border-radius: 2px;
  box-shadow: 0 0 0 3px #ACCEF7;
}
.FocusStyles__unfocused___2IZO_:hover {
  cursor: default;
  border-radius: 2px;
  box-shadow: 0 0 0 3px #D2E3F7;
}

.FocusStyles__focused___1IPkt {
  cursor: default;
  border-radius: 2px;
  box-shadow: 0 0 0 3px #ACCEF7;
}
/* alignmentTool */

.AlignmentStyles__alignmentTool___21JsV {
  left: 50%;
  -webkit-transform: translate(-50%) scale(0);
          transform: translate(-50%) scale(0);
  position: absolute;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(220,220,220,1);
  z-index: 2;
  box-sizing: border-box;
}

.AlignmentStyles__alignmentTool___21JsV:after, .AlignmentStyles__alignmentTool___21JsV:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.AlignmentStyles__alignmentTool___21JsV:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 4px;
  margin-left: -4px;
}
.AlignmentStyles__alignmentTool___21JsV:before {
  border-color: rgba(221, 221, 221, 0);
  border-top-color: #ddd;
  border-width: 6px;
  margin-left: -6px;
}

/* button */

.AlignmentStyles__buttonWrapper___1hTyo {
  display: inline-block;
}

.AlignmentStyles__button___26SLY {
  background: #fbfbfb;
  color: #888;
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
}

.AlignmentStyles__button___26SLY svg {
  fill: #888;
}

.AlignmentStyles__button___26SLY:hover, .AlignmentStyles__button___26SLY:focus {
  background: #f3f3f3;
  outline: 0; /* reset for :focus */
}

.AlignmentStyles__active___1Pkz9 {
  background: #efefef;
  color: #444;
}

.AlignmentStyles__active___1Pkz9 svg {
  fill: #444;
}
.separatorStyles__separator___3NkVF {
  display: inline-block;
  border-right: 1px solid #ddd;
  height: 24px;
  margin: 0 0.5em;
}
.buttonStyles__buttonWrapper___15neR {
  display: inline-block;
}

.buttonStyles__button___21elG {
  background: #fbfbfb;
  color: #888;
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
}

.buttonStyles__button___21elG svg {
  fill: #888;
}

.buttonStyles__button___21elG:hover, .buttonStyles__button___21elG:focus {
  background: #f3f3f3;
  outline: 0; /* reset for :focus */
}

.buttonStyles__active___3app7 {
  background: #efefef;
  color: #444;
}

.buttonStyles__active___3app7 svg {
  fill: #444;
}
.toolbarStyles__toolbar___PcU5j {
  left: 50%;
  -webkit-transform: translate(-50%) scale(0);
          transform: translate(-50%) scale(0);
  position: absolute;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(220,220,220,1);
  z-index: 2;
  box-sizing: border-box;
}

.toolbarStyles__toolbar___PcU5j:after, .toolbarStyles__toolbar___PcU5j:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.toolbarStyles__toolbar___PcU5j:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 4px;
  margin-left: -4px;
}
.toolbarStyles__toolbar___PcU5j:before {
  border-color: rgba(221, 221, 221, 0);
  border-top-color: #ddd;
  border-width: 6px;
  margin-left: -6px;
}
.inlineToolbarStyles__toolbar___2fsbe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  left: 50%;
  -webkit-transform: translate(-50%) scale(0);
          transform: translate(-50%) scale(0);
  position: absolute;
  background: #181818;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(220,220,220,1);
  z-index: 2;
  box-sizing: border-box;
}

.inlineToolbarStyles__toolbar___2fsbe:after, .inlineToolbarStyles__toolbar___2fsbe:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.inlineToolbarStyles__toolbar___2fsbe:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #333;
  border-width: 4px;
  margin-left: -4px;
}

.inlineToolbarStyles__toolbar___2fsbe:before {
  border-color: rgba(221, 221, 221, 0);
  border-top-color: #111;
  border-width: 6px;
  margin-left: -6px;
}
.InlineToolbarButtonStyles__buttonWrapper___wrORK {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.InlineToolbarButtonStyles__button___3AK7- {
  background: #181818;
  color: #ccc;
  font-size: 18px;
  border: 0;
  vertical-align: bottom;
  height: 56px;
  width: 40px;
  border-radius: 4px;
  line-height: 0.5rem;
}

.InlineToolbarButtonStyles__button___3AK7- svg {
  fill: #ddd;
}

.InlineToolbarButtonStyles__button___3AK7-:hover, .InlineToolbarButtonStyles__button___3AK7-:focus {
  color: #fff;
  outline: 0;
}

.InlineToolbarButtonStyles__button___3AK7-:hover svg, .InlineToolbarButtonStyles__button___3AK7-:focus svg {
  fill: #fff;
}

.InlineToolbarButtonStyles__active___1LEYk {
  color: #6a9cc9;
}

.InlineToolbarButtonStyles__active___1LEYk svg {
  fill: #6a9cc9;
}
.styles__addLink___BzSxn {
  background: #FFF;
  display: inline-block;
}

.styles__addLinkPopover___HUD6d {
  background: #181818;
  position: absolute;
  height: 54px;
  width: 300px;
  border-radius: 2px;
  padding: 10px;
  box-shadow: 0px 4px 30px 0px rgba(220,220,220,1);
  z-index: 1000;
  -webkit-transition: 0.5s linear height;
  transition: 0.5s linear height;
}

.styles__addLinkClosedPopover___2rYll {
  display: none;
}

.styles__addLinkButton___1JoVg {
  box-sizing: border-box;
  background: #181818;
  border: none;
  padding: 0;
  color: #fff;
  margin: 0;
  border-radius: 1.5em;
  cursor: pointer;
  height: 1.5em;
  width: 2.5em;
  font-size: 1.5em;
  line-height: 1.2em;
  margin: 0;
}

.styles__addLinkButton___1JoVg:focus {
  outline: 0;
}

.styles__addLinkButton___1JoVg:hover {
  background: #f3f3f3;
}

.styles__addLinkButton___1JoVg:active {
  background: #e6e6e6;
}

.styles__addLinkPressedButton___1Gk2- {
  background: #ededed;
}

.styles__addLinkBottomGradient___1VY-P {
  width: 100%;
  height: 1em;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  pointer-events: none;
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.styles__addLinkInput___6vP00 {
  box-sizing: border-box;
  border: none;
  cursor: text;
  padding: 4px;
  width: 78%;
  border-radius: 2px;
  margin-bottom: 1em;
  background: #181818;
  color: #fff;
}

.styles__addLinkInput___6vP00:focus {
  outline: none !important;
}

.styles__addLinkInputError___i1EFU {
  color: darkred;
  box-shadow: none;
}

.styles__addLinkConfirmButton___2CKs2 {
  box-sizing: border-box;
  background: #181818;
  color: #ccc;
  padding: 0;
  margin: 0;
  border-radius: 0.4em;
  border: none;
  cursor: pointer;
  width: 8%;
  font-size: 1.5em;
  margin: 0;
  margin-left: 1%;
}

.styles__addLinkConfirmButton___2CKs2:focus {
  outline: 0;
}

.styles__addLinkConfirmButton___2CKs2:hover {
  color: #fff;
}

.styles__addLinkConfirmButton___2CKs2:active {
  color: #fff;
}

.styles__addLinkError___2Rx48 {
  opacity: 0;
  color: red;
}

.styles__addLinkErrorDisabled___3VeHD {
  opacity: 1;
  color: red;
}
.styles__link___3_jcK, .styles__link___3_jcK:visited {
  color: #5e93c5;
  text-decoration: none;
}

.styles__link___3_jcK:hover, .styles__link___3_jcK:focus {
  color: #7eadda;
  outline: 0; /* reset for :focus */
  cursor: pointer;
}

.styles__link___3_jcK:active {
  color: #4a7bab;
}
.Linkify__link___3HLAE, .Linkify__link___3HLAE:visited {
  color: #5e93c5;
  text-decoration: none;
}

.Linkify__link___3HLAE:hover, .Linkify__link___3HLAE:focus {
  color: #7eadda;
  outline: 0; /* reset for :focus */
  cursor: pointer;
}

.Linkify__link___3HLAE:active {
  color: #4a7bab;
}
.mentionStyles__mention___3Lcg0, .mentionStyles__mention___3Lcg0:visited {
  color: #575f67;
  cursor: pointer;
  display: inline-block;
  background: #e6f3ff;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
  text-decoration: none;
}

.mentionStyles__mention___3Lcg0:hover, .mentionStyles__mention___3Lcg0:focus {
  color: #677584;
  background: #edf5fd;
  outline: 0; /* reset for :focus */
}

.mentionStyles__mention___3Lcg0:active {
  color: #222;
  background: #455261;
}
.mentionSuggestionsStyles__mentionSuggestions___6Rk5s {
  border: 1px solid #eee;
  margin-top: 1.75em;
  position: absolute;
  min-width: 220px;
  max-width: 440px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 4px 30px 0px rgba(220,220,220,1);
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  box-sizing: border-box;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.mentionSuggestionsEntryStyles__mentionSuggestionsEntry___3AyDo {
  padding: 7px 10px 3px 10px;
  -webkit-transition: background-color 0.4s cubic-bezier(.27,1.27,.48,.56);
  transition: background-color 0.4s cubic-bezier(.27,1.27,.48,.56);
}

.mentionSuggestionsEntryStyles__mentionSuggestionsEntry___3AyDo:active {
  background-color: #cce7ff;
}

.mentionSuggestionsEntryStyles__mentionSuggestionsEntryFocused___3YYZH {
  background-color: #e6f3ff;
}

.mentionSuggestionsEntryStyles__mentionSuggestionsEntryText___1ol1_ {
  display: inline-block;
  margin-left: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 368px;
  font-size: 0.9em;
  margin-bottom: 0.2em;
}

.mentionSuggestionsEntryStyles__mentionSuggestionsEntryAvatar___1dTEd {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 12px;
}
/* mentionStyles */
.Mention__mention___3m-x7, .Mention__mention___3m-x7:visited {
  color: #575f67;
  cursor: pointer;
  display: inline-block;
  background: #e6f3ff;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
  text-decoration: none;
}

.Mention__mention___3m-x7:hover, .Mention__mention___3m-x7:focus {
  color: #677584;
  background: #edf5fd;
  outline: 0; /* reset for :focus */
}

.Mention__mention___3m-x7:active {
  color: #222;
  background: #455261;
}

/* mentionSuggestionsEntryStyles */

.Mention__mentionSuggestionsEntry___2_kq4 {
  padding: 7px 10px 3px 10px;
  -webkit-transition: background-color 0.4s cubic-bezier(.27,1.27,.48,.56);
  transition: background-color 0.4s cubic-bezier(.27,1.27,.48,.56);
}

.Mention__mentionSuggestionsEntry___2_kq4:active {
  background-color: #cce7ff;
}

.Mention__mentionSuggestionsEntryFocused___fYjNN {
  padding: 7px 10px 3px 10px;
  -webkit-transition: background-color 0.4s cubic-bezier(.27,1.27,.48,.56);
  transition: background-color 0.4s cubic-bezier(.27,1.27,.48,.56);
  background-color: #e6f3ff;
}

.Mention__mentionSuggestionsEntryText___2nUEz {
  display: inline-block;
  margin-left: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 368px;
  font-size: 0.9em;
  margin-bottom: 0.2em;
}

.Mention__mentionSuggestionsEntryAvatar___2DuGa {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 12px;
}

/* mentionSuggestionsStyles */

.Mention__mentionSuggestions___2A_lU {
  border: 1px solid #eee;
  margin-top: 1.75em;
  position: absolute;
  min-width: 220px;
  max-width: 440px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 4px 30px 0px rgba(220,220,220,1);
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  box-sizing: border-box;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.buttonStyles__buttonWrapper___15neR {
  display: inline-block;
}

.buttonStyles__button___21elG {
  background: #fbfbfb;
  color: #888;
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
}

.buttonStyles__button___21elG svg {
  fill: #888;
}

.buttonStyles__button___21elG:hover, .buttonStyles__button___21elG:focus {
  background: #f3f3f3;
  outline: 0; /* reset for :focus */
}

.buttonStyles__active___3app7 {
  background: #efefef;
  color: #444;
}

.buttonStyles__active___3app7 svg {
  fill: #444;
}

.buttonStyles__separator___si1-g {
  display: inline-block;
  border-right: 1px solid #ddd;
  height: 24px;
  margin: 0 0.5em;
}
.blockTypeSelectStyles__blockType___3l9D0 {
  box-sizing: border-box;
  border: 1px solid #ddd;
  background: #fff;
  padding: 5px;
  margin: 0;
  border-radius: 18px;
  cursor: pointer;
  height: 36px;
  width: 36px;
  line-height: 36px;
  text-align: center;
}

.blockTypeSelectStyles__blockType___3l9D0 svg {
  fill: #888;
}

.blockTypeSelectStyles__spacer___29qae {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 74px;
  height: 8px;
}

.blockTypeSelectStyles__popup___2IkZB {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background: #efefef;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(220,220,220,1);
  z-index: 3;
  box-sizing: border-box;
  width: 74px;
  margin-top: 8px;
}

.blockTypeSelectStyles__popup___2IkZB:after, .blockTypeSelectStyles__popup___2IkZB:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.blockTypeSelectStyles__popup___2IkZB:after {
  border-color: rgba(251, 251, 251, 0);
  border-bottom-color: #fbfbfb;
  border-width: 4px;
  margin-left: -4px;
}
.blockTypeSelectStyles__popup___2IkZB:before {
  border-color: rgba(221, 221, 221, 0);
  border-bottom-color: #ddd;
  border-width: 6px;
  margin-left: -6px;
}
.toolbarStyles__wrapper___1JKsl {
  position: absolute;
}
.ToolbarButtonStyles__wrapper___1ql3V {
  position: absolute;
}

.ToolbarButtonStyles__buttonWrapper___1gCG0 {
  display: inline-block;
}

.ToolbarButtonStyles__button___1thdC {
  box-sizing: border-box;
  border: 1px solid #111;
  background: #333;
  padding: 5px;
  margin: 0;
  margin-bottom: 0.2rem;
  border-radius: 18px;
  cursor: pointer;
  height: 36px;
  width: 36px;
  text-align: center;
}

.ToolbarButtonStyles__button___1thdC svg {
  fill: #ddd;
}

.ToolbarButtonStyles__button___1thdC:hover, .ToolbarButtonStyles__button___1thdC:focus {
  background: #444;
  outline: 0;
}

.ToolbarButtonStyles__active___2z_jG {
  color: #6a9cc9;
}

.ToolbarButtonStyles__active___2z_jG svg {
  fill: #6a9cc9;
}
.ToolbarStyles__wrapper___2kVZz {
  position: absolute;
}
.ToolbarBlockTypeSelectStyles__blockType___2T-A8 {
  box-sizing: border-box;
  border: 1px solid #111;
  background: #333;
  padding: 5px;
  margin: 0;
  border-radius: 18px;
  cursor: pointer;
  height: 36px;
  width: 36px;
  line-height: 36px;
  text-align: center;
}

.ToolbarBlockTypeSelectStyles__blockType___2T-A8 svg {
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.ToolbarBlockTypeSelectStyles__spacer___2TK4T {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 74px;
  height: 8px;
}

.ToolbarBlockTypeSelectStyles__popup___1ogT8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 3;
  margin-top: 8px;
  -webkit-transition: 0.4s all cubic-bezier(.3,1.2,.2,1);
  transition: 0.4s all cubic-bezier(.3,1.2,.2,1);
}
.stickerStyles__sticker___tUkwK {
  margin: 0;
  position: relative;
  display: block;
}

.stickerStyles__stickerRemoveButton___XN8Ny {
  background: #D9D9D9;
  color: #FFF;
  margin: 0;
  padding: 0.5em;
  border: none;
  border-radius: 50%;
  line-height: 80%;
  position: absolute;
  font-size: 0.62em;
  margin-left: -0.825em;
  cursor: pointer;
}

.stickerStyles__stickerRemoveButton___XN8Ny:hover {
  background: #E4E4E4;
}

.stickerStyles__stickerRemoveButton___XN8Ny:active {
  background: #CECECE;
  color: #EFEFEF;
}

.stickerStyles__stickerImage___1_Kgk {
  width: 80px;
  height: 80px;
}
.selectStyles__select___3cmq8 {
  background: #FFF;
  display: inline-block;
}

.selectStyles__selectPopover___1d_l3 {
  margin-top: 10px;
  background: #FFF;
  position: absolute;
  height: 250px;
  width: 230px;
  border-radius: 2px;
  padding: 10px;
  box-shadow: 0px 4px 30px 0px rgba(220,220,220,1);
  z-index: 1000;
}

.selectStyles__selectClosedPopover___4XVNK {
  display: none;
}

.selectStyles__selectButton___3hF8E {
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #ddd;
  padding: 0;
  color: #888;
  margin: 0;
  border-radius: 1.5em;
  cursor: pointer;
  height: 1.5em;
  width: 2.5em;
  font-size: 1.5em;
  line-height: 1.2em;
  margin: 0;
}

.selectStyles__selectButton___3hF8E:focus {
  outline: 0; /* reset for :focus */
}

.selectStyles__selectButton___3hF8E:hover {
  background: #f3f3f3;
}

.selectStyles__selectButton___3hF8E:active {
  background: #e6e6e6;
}

.selectStyles__selectPressedButton___5MeIF {
  background: #ededed;
}

.selectStyles__selectBottomGradient___3fq0I {
  width: 100%;
  height: 1em;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  pointer-events: none;
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.selectStyles__selectStickerList___jMmGZ {
  position: absolute;
  overflow-x: none;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.selectStickerStyles__selectSticker___17iT7 {
  border: 0;
  border-radius: 4px;
  background: #fff;
  margin: 5px 0px 5px 0px;
  box-sizing: border-box;
}

.selectStickerStyles__selectSticker___17iT7:hover, .selectStickerStyles__root___JrC4U:focus {
  background: #efefef;
  outline: 0; /* reset for :focus */
}

.selectStickerStyles__selectSticker___17iT7:active {
  background: #dfdfdf;
}

.selectStickerStyles__selectStickerImage___y1rnj {
  height: 80px;
  width: 80px;
  -webkit-user-drag: none;
  user-drag: none;
}
/* selectStickerStyles */

.StickerStyles__selectSticker___3NL3C {
  border: 0;
  border-radius: 4px;
  background: #fff;
  margin: 5px 0px 5px 0px;
  box-sizing: border-box;
}

.StickerStyles__selectSticker___3NL3C:hover, .StickerStyles__root___XsSyj:focus {
  background: #efefef;
  outline: 0; /* reset for :focus */
}

.StickerStyles__selectSticker___3NL3C:active {
  background: #dfdfdf;
}

.StickerStyles__selectStickerImage___Fk5Rs {
  height: 80px;
  width: 80px;
  -webkit-user-drag: none;
  user-drag: none;
}

/* selectStyles */

.StickerStyles__select___1hSPe {
  background: #FFF;
  display: inline-block;
}

.StickerStyles__selectPopover___3YhfS {
  margin-top: 10px;
  background: #FFF;
  position: absolute;
  height: 250px;
  width: 230px;
  border-radius: 2px;
  padding: 10px;
  box-shadow: 0px 4px 30px 0px rgba(220,220,220,1);
  z-index: 1000;
}

.StickerStyles__selectClosedPopover___YGhWt {
  display: none;
}

.StickerStyles__selectButton___RvRpt {
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #ddd;
  padding: 0;
  color: #888;
  margin: 0;
  border-radius: 1.5em;
  cursor: pointer;
  height: 1.5em;
  width: 2.5em;
  font-size: 1.5em;
  line-height: 1.2em;
  margin: 0;
}

.StickerStyles__selectButton___RvRpt:focus {
  outline: 0; /* reset for :focus */
}

.StickerStyles__selectButton___RvRpt:hover {
  background: #f3f3f3;
}

.StickerStyles__selectButton___RvRpt:active {
  background: #e6e6e6;
}

.StickerStyles__selectPressedButton___3iI3J {
  background: #ededed;
}

.StickerStyles__selectBottomGradient___2FRMI {
  width: 100%;
  height: 1em;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  pointer-events: none;
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.StickerStyles__selectStickerList___3YIkP {
  position: absolute;
  overflow-x: none;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

/* stickerStyles */

.StickerStyles__sticker___1UC8B {
  margin: 0;
  position: relative;
  display: block;
}

.StickerStyles__stickerRemoveButton___1CbI2 {
  background: #D9D9D9;
  color: #FFF;
  margin: 0;
  padding: 0.5em;
  border: none;
  border-radius: 50%;
  line-height: 80%;
  position: absolute;
  font-size: 0.62em;
  margin-left: -0.825em;
  cursor: pointer;
}

.StickerStyles__stickerRemoveButton___1CbI2:hover {
  background: #E4E4E4;
}

.StickerStyles__stickerRemoveButton___1CbI2:active {
  background: #CECECE;
  color: #EFEFEF;
}

.StickerStyles__stickerImage___3Xc9v {
  width: 80px;
  height: 80px;
}
.DefaultVideoComponent__iframeContainer___BWI8H {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
}

.DefaultVideoComponent__invalidVideoSrc___1lDP0 {
  text-align: center;
  background-color: #eaeaea;
  padding: 1em;
}