/* override the quote for the Last Draft header style */
/* Last-draft specific styles - dark theme */

@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

/* blocks */
.ld-blockquote {
  margin: 12px 0 40px 0;
  padding: 1rem 2rem;
  border-left: 2px solid #80172F;
}
.ld-quote {
  display: block;
  color: #80172F;
  font-style: italic;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.2;
  margin: 4rem 0 2rem 0;
  font-family: 'Shadows Into Light', cursive;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  color: #555;
  background: #fff;
}

#root {
  margin: 2.5rem;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  #root {
    margin: 5rem;
    margin-top: 8rem;
  }
}

/* color picker */

.color-picker-wrapper {
  position: static;
}
@media (min-width: 768px) {
  .color-picker-wrapper {
    position: absolute;
    right: 2rem;
    top: 0;
  }
}

.color-picker {
  color: #a80077;
  font-style: italic;
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  margin: 2rem 0;
  font-family: 'Shadows Into Light', cursive;
}

.color-picker-green {
  color: #66ff00;
}
