/* override some last Draft styles */

/* only needed for our custom quote font in this example */
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

/* blocks */
.ld-blockquote {
  margin: 0;
  padding: 0;
  padding-left: 2rem;
  border: none;
  border-left: 2px solid #80172F;
}
.ld-quote {
  display: block;
  color: #ffc0cb;
  font-style: italic;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.2;
  margin: 4rem 0 2rem 0;
  font-family: 'Shadows Into Light', cursive;
}

.ld-hashtag {
  color: #00FF00 !important;
}
.ld-link {
  color: #FF69B4 !important;
}
.ld-mention {
  background: rgb(236, 236, 234);
  color: #000;
  text-decoration: none;
}


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  color: #555;
  background: #fff;
}

#root {
  margin: 2.5rem;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  #root {
    margin: 5rem;
    margin-top: 8rem;
  }
}

/* color picker */

.color-picker-wrapper {
  position: static;
}
@media (min-width: 768px) {
  .color-picker-wrapper {
    position: absolute;
    right: 2rem;
    top: 0;
  }
}

.color-picker {
  color: #a80077;
  font-style: italic;
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  margin: 2rem 0;
  font-family: 'Shadows Into Light', cursive;
}

.color-picker-green {
  color: #66ff00;
}
