/* Last-draft specific styles */

.last-draft-editor {
  cursor: text;
  padding: 1rem;
}

.DraftEditor-editorContainer {
  position: relative;
  z-index: 1;
}

.paragraph + .paragraph {
  margin-top: 2rem;
}

.public-DraftEditor-content figure {
  margin: 1rem 0;
}

.public-DraftStyleDefault-ul {
  list-style-type: disc;
}

.public-DraftStyleDefault-ol {
  list-style-type: decimal;
}

.public-DraftStyleDefault-ol,
.public-DraftStyleDefault-ul {
  line-height: 2;
  margin: 2.2rem 0 4rem 0;
  padding-left: 2rem;
}

.public-DraftStyleDefault-ol li,
.public-DraftStyleDefault-ul li {
  padding-left: 1rem;
}

.public-DraftEditorPlaceholder-root {
  color: #999;
  position: absolute;
  z-index: 0;
}

.public-DraftEditor-content h2 {
  font-weight: 700;
  line-height: 1.2;
  margin: 4rem 0 2rem 0;
}

.public-DraftEditor-content h2:first-child {
  margin-top: 0;
}

/* blockquote */
.blockquote {
  margin: 12px 0 40px 0;
  padding: 1rem 2rem;
  border-left: 2px solid #3192e7;
}

.pullquote {
  display: block;
  color: #223A87;
  font-style: italic;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin: 4rem 0 2rem 0;
}
.pullquote:first-child {
  margin-top: 0;
}

.header {
  color: #223A87;
}

.unordered-list {
}
.ordered-list {
}
