body {
  font-family: Georgia;
  background: black;
}

#root {
  background: white;
  margin: 5rem;
  min-height: 20rem;
}

.editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 2em;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #fefefe;
}

.options {
  margin-bottom: 20px;
}
